<% if admin? or dbuser? or accounter? %>
  <head>
    <title>Best&auml;tigte T-Seminare</title>
  </head>

  <h1>Best&auml;tigte Tagesseminare</h1><hr/><br/><br/>

  <ul id="overview"> 
    <li><img src="/images/pfeil.png" alt="->"/>&nbsp;<%= link_to 'Bevorstehende Tagesseminare', future_ts_requests_path %></li>
    <li><img src="/images/pfeil.png" alt="->"/>&nbsp;<%= link_to 'Bestimmter Zeitraum',timechoice_ts_requests_path %></li>
  </ul>

  <%= render :partial => "dbusers/backbutton" %>

<% else %>
  <%= render :partial => "dbusers/login_requirement"  %>
<% end %>
