
<table>
  <tr><td>Kontoinhaber: </td><td>KZ-Gedenkst&auml;tte Dachau</td></tr>
  <tr><td>Bank: </td><td>HypoVereinsbank M&uuml;nchen</td></tr>
  <tr><td>BLZ: </td><td>700 202 70</td></tr>
  <tr><td>KontoNr.: </td><td>15101860</td></tr>
  <tr><td>IBAN: </td><td>DE71700202700015101860</td><tr>
  <tr><td>BIC: </td><td>HYVEDEMMXXX</td></tr>
</table>