<font color="#8795A8;" size=1 >
  <table align="right">
    <tr><td><b>Bildungsabteilung</b></td></tr>
    <tr><td>Alte R&ouml;merstr. 75 / D-85221 Dachau KZ-Gedenkst&auml;tte Dachau</td></tr>
    <tr><td>Tel. +49(0)8131/66997 131</td></tr>
    <tr><td>Fax. +49(0)8131/2235</td></tr>
    <tr><td></td></tr>
    <tr><td>bildung@kz-gedenstaette.dachau.de</td></tr>
    <tr><td>www.kz-gedenkstaette-dachau.de</td></tr>
    <tr><td>www.stiftung-bayerische-gedenkstaetten.de</td></tr>
  </table>
</font>