<p style="font-size: 1.5em; margin-top: 1em;" align="center">
Merci! Votre demande a été envoyée.
</p>

<p align="center"><%= link_to 'Pour revenir aux informations visiteurs',
  'http://www.kz-gedenkstaette-dachau.de/index2.html' %> </p>