<div  style="position:fixed; background-color:#8795A8; top:0px; left:0px; width:100%;">
  <table width="100%" bgcolor="#8795A8" >
  <tr><td height="10px;" style="background-color:#8795A8"></tr>
  <tr>          
    <td align="left" width="100%" style="font-size:12pt;">
      <b>Sie sind nicht angemeldet | <%= link_to "Login", login_path %> |</b> 
    </td>
  </tr>
  <tr ><td height="10px;" style="background-color:#8795A8"></td></tr>
</table>
</div>
<br/><br/>